**/*~
**/__pycache__/
autostart/
bottom/
clash/*db
Code*/
dconf/
doom/
emacs/
falkon/
fcitx/dbus/
fcitx/rime/build/
fcitx/rime/*_dicts/
fcitx/rime/lua/
fcitx/rime/openc*/
fcitx/rime/others/
fcitx/rime/*db/
fcitx5/
fontconfig/
font-manager/
GitKraken/
gtk*/
ibus/
Kitware/
Kvantum/
manjaro/
manjar*
microsoft-edge/
mimeapps.list
pulse/
qt5ct/
QtProject.conf
sublime-text/
Thunar/
Typora/
user-dirs.*
vlc/
volumeicon/
xfce4/
yay/

